@import "../../styles/variables";

.app-list-item {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.2em 1.4em;
    font-size: 14px;
    font-weight: 300;
    &:hover {
        background-color: $body-bg-color;
    }

    .list-item-left {
        display: flex;
        align-items: center;

        label {
            padding-left: 1em;
            margin-bottom: 0;
        }
    }
}